html {
    box-sizing: border-box;
    font-size: 16px;
    /* background: #333; */
    color: bisque;
    font-family: courier;
}
*, *:before, *:after {
    box-sizing: inherit;
} 
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}  
ol, ul {
    list-style: none;
}
nav{
    background: red;
}
main{
    min-height: 80vh;
    position: relative;
}
img {
    max-width: 100%;
    height: auto;
}

.questions{
    width: 100%;
    margin: 40px 0 30px 2px;
}


button:hover{
    background: rgb(219, 171, 117);
}


footer{
    position: relative;
    bottom: 0;
}

/* Screens 800px and below */
@media screen and (max-width: 800px) {

}