html {
    box-sizing: border-box;
    font-size: 16px;
    /* background: #333; */
    color: bisque;
}
*, *:before, *:after {
    box-sizing: inherit;
} 
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: "Lucida Console", Courier, monospace;;
}  
ol, ul {
    list-style: none;
}
nav{
    background: rgb(73, 62, 62);
    border-bottom: 1px solid rgb(141, 141, 141);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
main{
    min-height:90vh;
    position: relative;
    background: #333;
    padding-top: 20px;
}
img {
    max-width: 100%;
    height: auto;
}
.col-sm-6{
    padding: 10px !important;
}
#questions p{
    margin-top: 30vh;
    color: #fff;
    text-align: center;
    font-size:2em;
}


#questions button:hover{
    background: rgb(219, 171, 117);
    transition: 1s;
}
.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .active-slide{
    opacity: 1;
    z-index: 2;
  }
  .quiz-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
  }

footer{
    position: relative;
    bottom: 0;
    color: #fff;
    min-height: 50px;
    background: #333;
    padding-top: 20px;
}

/* Screens 800px and below */
@media screen and (max-width: 800px) {

}